<body class="teacher-body-container">
<div class="add-question-container">
  <!-- Sidebar -->
  <div class="add-question-sidebar">
    <h2 class="sidebar-title">Menu</h2>
    <button class="teacher-tutor-menu-item" [routerLink]="['/teacher-tutor']">Info</button>
    <button class="teacher-tutor-menu-item active" [routerLink]="['/teacher-add-question']">Add Question</button>
    <button class="teacher-tutor-menu-item" [routerLink]="['/teacher-list-question']">List Question</button>
  </div>

  <!-- Main Content -->
  <div class="add-question-main-content">
    <h1 class="add-question-page-title">Add Question Page</h1>
    <button (click)="logout()" class="logout-btn">Logout</button>
    <h2 class="Currentuser">currentUser : {{ currentUsername }}</h2>
    <!-- Difficulty Levels -->
    <div class="add-question-difficulty-levels">

      <button
        class="add-question-difficulty-button"
        [class.active]="selectedDifficulty === 'Beginner'"
        (click)="selectDifficulty('Beginner')"
      >
        Beginner
      </button>
      <button
        class="add-question-difficulty-button"
        [class.active]="selectedDifficulty === 'Advance'"
        (click)="selectDifficulty('Advance')"
      >
        Advance
      </button>
      <button
        class="add-question-difficulty-button"
        [class.active]="selectedDifficulty === 'Expert'"
        (click)="selectDifficulty('Expert')"
      >
        Expert
      </button>
    </div>

<div class="add-question-categories">
    <button
        class="add-question-category-button"
        [class.active]="selectedCategory === 'Variable'"
        (click)="selectCategory('Variable')"
    >
        Variable
    </button>
    <button
        class="add-question-category-button"
        [class.active]="selectedCategory === 'Loops'"
        (click)="selectCategory('Loops')"
    >
        Loops
    </button>
    <button
        class="add-question-category-button"
        [class.active]="selectedCategory === 'Functions'"
        (click)="selectCategory('Functions')"
    >
        Functions
    </button>
    <div class="add-question-form-group">
      <label for="question-type">Question Answer Type</label>
      <select id="question-type" class="add-question-form-control" [(ngModel)]="questionType" name="questionType">
        <option value="Code">Code</option>
        <option value="text">Text</option>
        <option value="chart">Chart</option>
         <option value="Part Code">Part Code</option>
      </select>
    </div>
</div>




    <!-- Form Content -->
    <form   class="add-question-form" (submit)="onSubmitQuestion()">
 

      <div class="add-question-form-group">
        <label for="description">Description Question</label>
        <textarea
          id="description"
          type="text"
          class="add-question-form-control"
          [(ngModel)]="questionData.description"
          name="description"
          placeholder="Enter a short exercise description so that the student  undrestand the exercise better"
        ></textarea>
      </div>

      <div class="add-question-form-group">
        <label for="code">Code</label>
        <textarea 
        id="code"
         class="add-question-form-control" 
          type="text"
           [(ngModel)]="questionData.code" 
           name="code"
           placeholder="Enter the code  here"
        ></textarea>
      </div>

      <div class="add-question-form-group">
        <label for="answer">{{ answerLabel }}</label>
        <textarea
          id="answer"
          type="text"
          class="add-question-form-control"
          [(ngModel)]="questionData.answer"
          name="answer"
          
          placeholder="Enter the answer of exercise" 
          ></textarea>
      </div>

      <div class="add-question-form-group">
        <label for="feedback-correct">Feedback for Correct Answer</label>
        <textarea
          id="feedback-correct"
          class="add-question-form-control"
          [(ngModel)]="questionData.feedbackCorrect"
          name="feedbackCorrect"
          placeholder="Provide feedback for correct answer"
        ></textarea>
      </div>

      <div class="add-question-form-group">
        <label for="feedback-wrong">Feedback for False Answer</label>
        <textarea
          id="feedback-wrong"
          class="add-question-form-control"
          [(ngModel)]="questionData.feedbackWrong"
          name="feedbackWrong"
          placeholder="Provide feedback for False answer"
        ></textarea>
      </div>

      <div class="add-question-form-group">
        <label>Hint</label>
        <div *ngFor="let hint of questionData.hints; index as i" class="add-question-hint-item">
          <textarea
            type="text"
            class="add-question-form-control"
            [(ngModel)]="questionData.hints[i]"
            [name]="'hint' + i"
            placeholder="Provide a hint for the exercise to help the student find the answer"
            ></textarea>
        </div>
        <button
          type="button"
          class="add-question-add-hint-button"
          [disabled]="questionData.hints.length >= 3"
          (click)="addHint()"
        >
          Add new hint
        </button>
      </div>
      

      <button type="submit" class="add-question-submit-button">Submit Question</button>
    </form>
  </div>
</div>
</body>