<body class="teacher-body-container">
<div class="add-question-container">

  <div class="add-question-sidebar">
    <h2 class="sidebar-title">Menu</h2>
    <button class="teacher-tutor-menu-item" routerLink="/teacher-tutor">Info</button>
    <button class="teacher-tutor-menu-item " routerLink="/teacher-add-question">Add Question</button>
    <button class="teacher-tutor-menu-item active" routerLink="/teacher-list-question">List Question</button>
  </div>

  <div class="add-question-main-content">


    <h1 class="add-question-page-title">List Question Page</h1>

          <table class="list-question-table" >
            <thead>
              <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Code Answer</th>
                <th>Difficulty</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let q of questionList">
                <td>{{ q.description }}</td>
                <td>{{ q.answer }}</td>
                <td>{{ q.code || '-' }}</td>
                <td>{{ q.selectedDifficulty }}</td>
                <td>{{ q.selectedCategory }}</td>
                <td>
                <button class="edit-btn" (click)= editQuestion(q)>Edit</button>
                <button class="remove-btn" (click)="removeQuestion(q._id)">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
    <button (click)="logout()" class="logout-btn">Logout</button>
    <h2 class="Currentuser">currentUser : {{ currentUsername }}</h2>


  </div>
</div>
</body>
