<div class="teacher-signup-main-container">
  <div class="teacher-form-container">

    <div class="teacher-login-container">
      <div class="teacher-login-heading">Sign In</div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="teacher-login-form">

        <div>
          <input class="teacher-login-input" type="text" formControlName="username" placeholder="username">
        </div>
        <div>
          <input class="teacher-login-input" type="password" formControlName="password" placeholder="Password">
        </div>
        <button type="submit" class="teacher-login-button">Sign In</button>
      </form>
    </div>

    <div class="teacher-login-container">
      <div class="teacher-login-heading">Sign Up</div>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitRegister()" class="teacher-signup-form">
         <div>
          <input class="teacher-login-input" type="text" formControlName="firstName" placeholder="First Name">
        </div>
        <div>
          <input class="teacher-login-input" type="text" formControlName="lastName" placeholder="Last Name">
        </div>
      <div>
          <input class="teacher-login-input" type="text" formControlName="username" placeholder="Email">
        </div>
     
        <div>
          <input class="teacher-login-input" type="text" formControlName="username" placeholder="username">
        </div>
        <div>
        
          <input class="teacher-login-input" type="password" formControlName="password" placeholder="Password">
        </div>
        <div>
          <input class="teacher-login-input" type="password" formControlName="confirmPassword" placeholder="Re-enter Password">
        </div>
        <button type="submit" class="teacher-login-button">Sign Up</button>
      </form>
    </div>
  </div>
</div>
